@media screen and (max-width: 400px) {
  #features {
    padding: 20px;
    width: 111%;
  }
  #about,
  #services,
  #testimonials,
  #team,
  #contact,
  #footer {
    width: 111%;
  }

  #portfolio {
    width: 110%;
  }
}
.course-row-hover:hover {
    background-color: #e8fbff !important; /* Светло-голубой, более яркий цвет (вместо #f0f0f0) */
    cursor: pointer; /* Подтверждаем, что курсор меняется */
    transition: background-color 0.3s ease;
}

.course-card-hover {
    /* Обеспечиваем плавный переход для эффекта наведения */
    transition: transform 0.3s ease-in-out, box-shadow 0.3s ease-in-out;
}

.course-card-hover:hover {
    /* Слегка приподнимаем карточку (визуальный эффект) */
    transform: translateY(-5px); 
    
    /* Увеличиваем тень, делая ее более заметной (эффект "поднятия") */
    box-shadow: 0 1rem 3rem rgba(0, 0, 0, 0.175) !important; 
    
    /* Можно также немного изменить цвет фона, например, сделать его чуть светлее */
    background-color: #fcfcfc;
}